<h1>Purchase Order Details</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>QuantityType</th>
    </tr>
  </thead>

  <tbody>
    <% @purchase_order_items.each do |purchaseorderitem| %>
      <tr>
        <td><%= purchaseorderitem.product_id %></td>
        <td><%= purchaseorderitem.quantity %></td>
        <td><%= purchaseorderitem.quantitytype %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
